h1 {color:whitesmoke}
h1 {text-align: center;}
  
p {color:whitesmoke}
p {text-align: center;}
p{font-size: small;}
p{margin: 10px 50px 20px;}

body {background-color: black;}
body {text-align: center;}

  